@{
    ViewBag.Title = "Welcome ";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Ezzay will be a social network derived system based on business filled with community driven topics, users and a social networking system.
            </p>
        </div>
    </section>
}
<h3>Focuses:</h3>
<ol class="round">
    <li class="one">
        <h5>Learning</h5>
        Ezzay will link users willing to learn to those willing to teach their field of interest.
    </li>

    <li class="two">
        <h5>Community</h5>
        Ezzay will link NGOs, learning entities to potential collaborators among users for business, volunteer and community service purposes.
    </li>

    <li class="three">
        <h5>Evaluation and Feedback</h5>
        Provide an interest detecting system for users as well as anonymous evaluations for any mentor.
    </li>

    <li class="four">
        <h5>Further Goals</h5>
        Select and recommend users with high ratings for “Ollohom” assessment. This will be an initiative taken at a later date to help fight iliteracy.
    </li>
</ol>
